.Header{
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;

    &-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $black;
        align-items: center;
        
    }

    &-logo{
        display: block;
        font-weight: 900;
        font-size: 18px;
        color: $black;
        
        &:hover{
            text-decoration: none;
            color: $black;
        }
    }
    
    &-item{
        position: relative;
        list-style-type: none;
        margin-left: 20px;
        margin-right: 20px;
        color: $black;

        &.home{
            border-bottom: 2px solid #0075F6;
            color: #0075F6;
        }

        &:hover{
            text-decoration: none;
            &::after{
                width: 40px;
            }
        }

        &::after{
            position: absolute;
            content:"";
            width: 0px;
            height: 2px;
            background-color: #0075F6;
            top: 24px;
            right:2px;

            transition: all 0.2s ease;
        }

    }

    &-hamburger{
        display: none;
        padding: 8px 16px;
    }

    @include media-breakpoint-down(sm){
       &{
            background-color: #000;

       }
        &-hamburger{
            display:block;
        }

        &-logo{
            color: white;
        }

        &-wrapper{
            background-color: #000;
        }
        
        &-nav{
            background-color: $black;
            justify-content: none;
            align-items: flex-start;

            flex-direction: column;
            
            height: 0;

            overflow: hidden;

            position: absolute;
            right: 0;
            top: 40px;

            width: 100vw;
            
            transition: height 0.3s ease;
            z-index: 10;

            padding-bottom: 20px;
        }

        &-item{
            color: $white;
            margin-top: 15px;
        }

        &-hamburgerCheck:checked ~ &-nav{
            height: 280px;
        }

        i{
            color: $white;
        }
    

    }

}

.Blog{
    background-color: #f8f9fa;
    padding-top: 120px;
    padding-bottom: 160px;

    &-wrapperColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-pretitle{
        display: block;
        text-align: center;
        color: $black;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 26px;
        letter-spacing: 4px;
    }
    &-title{
        color: $black;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 36px;
        font-family: $text;
    }
    &-text{
        color: #9999b1;
        font-size: 16px;
        max-width: 606px;
        text-align: center;
        margin-bottom: 120px;
        font-family: $text;
        font-weight: 400;
        line-height: 1.8;
    }
    &-picture{
        height: 350px;
        object-fit: cover;
    }
    &-date{
        font-size: 12px;
        color: #0075f6;
        font-weight: 400;
        font-family: $text;
        margin-bottom: 30px;
    }
    &-link{
        text-decoration: none;
        font-weight: 400;
        font-family: $text;
        letter-spacing: 2px;
        font-size: 12px;
        &:hover{
            text-decoration: none;  
            color: #0075f6;
        }
    }
    &-linkTitle{
        display: block;
        font-size: 20px;
        color: $black;
        margin-bottom: 30px;
        margin-top: 20px;
        font-weight: 600;
        font-family: $text;

        &:hover{
            text-decoration: none;  
            color: #0075f6;
            transition: all 0.3s ease;
        }
    }
    &-linkText{
        color: #999;
        font-size: 16px;
        font-weight: 400;
        max-width: 325px;
        width: 100%;
        text-align: left;
        font-family: $text;
        line-height: 1.8;
    }
    @include media-breakpoint-down(sm){
        &-linkText{
            max-width: 510px;
            width: 100%;
        }
    }
}

.Skills{
    padding-top: 116px;
    background-color: #f8f9fa;

    &-pretitle{
        display: block;
        text-align: center;
        color: $black;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 28px;
        letter-spacing: 3px;
    }

    &-title{
        color: $black;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 36px;
        font-family: $text;
        text-align: center;
        margin-bottom: 38px;
    }

    &-text{
        font-size: 16px;
        color: #9999b1;
        text-align: center;
        margin-bottom: 75px;
    }

    &-name{
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 600;
    }

   &-percent{
       //position: absolute;
       right: 0;
       top: 20px;

       font-size: 15px;
       color: black;
   }
}
.progress.myStyle{
    margin-bottom: 40px;
}

.progress-bar.percent{
    position: relative;
}


