//colors
$white: #fff;
$black: #000;
$header-textcolor: #cbcccd;
$icon-bg: #fb6e52;
$service-text:#c5c6c7;
$text-description: #fb6e52;
$text-photo: #97999b;
$blog-bg: #f9f9f9;
$footer-bg: #292c34;
$footer-color: #54575d;

//fonts

$header-text:'Roboto', sans-serif;
$service-title: 'Roboto', sans-serif;
$text:'Poppins', sans-serif;

//Menu